<div class="container">
  <mat-toolbar color="primary" class="nav-toolbar">
    <div class="nav-itens-container">
      <button mat-icon-button aria-label="Logo of TopVehicles app" title="Logo of TopVehicles app">
        <mat-icon>local_shipping</mat-icon>
      </button>
      <span>TopVehicles</span>
    </div>

    <div class="nav-itens-container">
      <a href="https://github.com/Matheus-gs" target="_blank" mat-icon-button aria-label="Contact of developer"
        title="Reach me!">
        <i data-feather="github"></i>
      </a>
    </div>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>